/* Type your code here */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
	/* To set the image as the background*/
	background-image:url('../lab-cricpro-scoreboard/assets/background-image1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
    /* To style the table*/
table{
    font-size: large;
    margin: left;
	background: white;
}

table,td,th{
    border-collapse: collapse;
}

/* To style the first row of table*/
tr:nth-child(1){
    background-color: red;
}

/* To style the second row of the table*/
tr:nth-child(2){
    background-color: rgb(236, 230, 230);
	border-bottom: 1px solid grey;
	text-align: left;
	
}

th,td{
    padding: 10px;
}

td{
    border-bottom: 1px solid grey;
}

#extra{
	text-align: left;
	border-bottom: 1px solid grey;
}
h1{
	font-size: 250%;
}
h3{
	text-align: left;
	color: grey;
}
/* To design the anchor tags */
a{
	color: rgb(16, 145, 196);
}
#input{
	text-align: center;
}

#india{
	color: white;
}
/* To style the footer */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	font-family: Nunito Sans;
    font-style: normal;
    
}